.irish-grover-regular {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}

.image-wrapper > img {
    height: 100px;
    width: 100%;
    border-radius: 20px;
}

.image-wrapper {
    position: relative;
}

.image-wrapper h1 {
    position: absolute; /* 부모 요소 기준으로 배치 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: cyan;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: "Irish Grover", system-ui;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    color: darkgreen;
    font-weight: bold;

    :hover {
        text-decoration: underline red solid;
        color: blue;
        transition-property: background-color;
        transition-timing-function: ease-in-out;
    }
}

body {
    background: url("../img/leaf_background.jpg")
}

footer {
    background-color: burlywood;
    color: black;
    text-align: center;
}

#planner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#planner h3 {
    color: cyan;
    font-weight: bold;
    font-size: 30px;
}

#today_plan, #week_plan, #month_plan, #year_plan {
    width: 43%;
    height: 200px;
    background-color: darkslategray;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;

}

input[type= "checkbox"] {
    width: 16px;
    height: 16px;
    vertical-align: baseline;
    margin-right: 4px;
    appearance: auto;
}